<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @component.user_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @component.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @component.price %>
</p>

<p>
  <strong>S time:</strong>
  <%= @component.s_time %>
</p>

<p>
  <strong>E time:</strong>
  <%= @component.e_time %>
</p>

<%= link_to 'Edit', edit_component_path(@component) %> |
<%= link_to 'Back', components_path %>
