<%= form_for(qishi) do |f| %>
  <% if qishi.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(qishi.errors.count, "error") %> prohibited this qishi from being saved:</h2>

      <ul>
      <% qishi.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :phone %>
    <%= f.text_field :phone %>
  </div>

  <div class="field">
    <%= f.label :order_id %>
    <%= f.number_field :order_id %>
  </div>

  <div class="field">
    <%= f.label :salary %>
    <%= f.text_field :salary %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
