<p id="notice"><%= notice %></p>

<p>
  <strong>Phone:</strong>
  <%= @qishi.phone %>
</p>

<p>
  <strong>Order:</strong>
  <%= @qishi.order_id %>
</p>

<p>
  <strong>Salary:</strong>
  <%= @qishi.salary %>
</p>

<%= link_to 'Edit', edit_qishi_path(@qishi) %> |
<%= link_to 'Back', qishis_path %>
